build/
*__pycache__*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cloned by the build system.
current/
googletest/
wsServer/

# Added automatically by `pls`. Okay to push to git.
.debug
.pls
.release
.vscode

# Added automatically by `pls`. Okay to push to git.
wsServerForkedFromTheldus
